* {
	background-image: none;
	transition: 0;
}
window {
	background-color: rgba(12, 12, 12, 0.1);
	background-image: url('./noise.png');
}
button {
    color: #d4bff9;
	background-color: rgba(252, 251, 254, 0.15);
	border: 0 solid #d4bff9;
	border-radius: 3rem;
	margin: 0.8rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family: Roboto;
	font-size: 1.7rem;
}

button:focus, button:active, button:hover {
	background-color: rgba(237, 229, 252, 0.25);
	outline-style: none;
}

#logout {
    background-image: image(url("./icons/logout.png"), url("./icons/logout.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"), url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"), url("./icons/reboot.png"));
}
